{% extends 'layouts/base.html' %}

{% block 'title' %}
    Tasks
{% endblock %}

{% block 'content' %}  
<a href="{% url 'createTask' %}">Create new task</a>
<ul>
    {% for task in tasks %}
    <li>
        <a href="{% url 'taskDetailsView' task.id %}">
            <h2 style="color:green">{{task.title}} ✅</h2>
        </a>
        <p>{{task.description}}</p>
        <p>Completed at {{task.dateCompleted|date:'M j Y:i'}}</p>
        <small>Created by {{task.user}}</small>
        {{task.dateCompleted}}
        <form action="{% url 'deleteTask' task.id %}">
            <button>
                Delete Task
            </button>
        </form>
    </li>

    {% endfor %}
</ul>

{% endblock %}