{% extends 'layouts/base.html' %}

{% block 'title' %}
    Tasks
{% endblock %}

{% block 'content' %}  
<a href="{% url 'createTask' %}">Create new task</a>
<ul>
    {% for task in tasks %}
    <li>
        <a href="{% url 'taskDetailsView' task.id %}">
            {% if task.important %}
                <h2 style="color:red">{{task.title}}</h2>
            {% else %}
                <h2>{{task.title}}</h2>
            {% endif %}
        </a>
        
        <p>{{task.description}}</p>
        <small>Created by {{task.user}}</small>
    </li>

    {% endfor %}
</ul>
    
{% endblock %}